<h1 class="p-text-center">{{title}}</h1>
<div class="p-grid">
  <div class="p-col-12 p-md-6 p-xl-4">
    <p-card styleClass="p-shadow-4" header="Inline Calendar">
      <p-calendar [(ngModel)]="date" [inline]="true"></p-calendar>
    </p-card>
  </div>
  <div class="p-col-12 p-md-6 p-xl-8">
    <p-card styleClass="p-shadow-4" header="Input popup Calendar">

      <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="basic">Basic</label>
          <p-calendar inputId="basic" [(ngModel)]="date"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="dateFormat">Date Format</label>
          <p-calendar inputId="dateFormat" dateFormat="dd-mm-yy" placeholder="dd-mm-yyyy" [(ngModel)]="date"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="icon">Icon</label>
          <p-calendar [(ngModel)]="date" [showIcon]="true" inputId="icon"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="navigators">Navigators</label>
          <p-calendar [(ngModel)]="date" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="time">Time</label>
          <p-calendar [(ngModel)]="date" [showTime]="true" inputId="time"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="timeonly">Time Only</label>
          <p-calendar [(ngModel)]="date" [timeOnly]="true" inputId="timeonly"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="range">Range</label>
          <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="multiplemonths">Multiple Months</label>
          <p-calendar [(ngModel)]="date" [numberOfMonths]="2" inputId="multiplemonths"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="monthpicker">Month Picker</label>
          <p-calendar [(ngModel)]="date" view="month" dateFormat="mm/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true" inputId="monthpicker"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="multiple">Multiple Dates</label>
          <p-calendar [(ngModel)]="dates" selectionMode="multiple" [readonlyInput]="true" inputId="multiple"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-lg-6 p-xl-4">
          <label for="touchui">Touch UI</label>
          <p-calendar [(ngModel)]="date" [touchUI]="true" [readonlyInput]="true" inputId="touchui"></p-calendar>
        </div>

      </div>

    </p-card>
  </div>
</div>

<router-outlet></router-outlet>
